@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter';
  }
  h1 {
    @apply font-[Montserrat];
  }
  h2 {
    @apply font-[Montserrat] font-medium;
  }
  h2 span {
    @apply font-[inter] italic;
  }
  h3 {
    @apply font-[Montserrat] font-medium;
  }
}

@layer components {
  /* swiper-nav */
  .swiper-button-prev-ph,
  .swiper-button-next-ph {
    @apply flex items-center justify-center transition-all duration-200;
  }
  .swiper-button-prev-ph.swiper-button-disabled,
  .swiper-button-next-ph.swiper-button-disabled {
    @apply opacity-30;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.map {
  position: relative;
  width: 90%;
  height: 90vh;
  max-width: 1300px;
  margin: 1rem auto;
}

.map > svg {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  touch-action: none !important;
}

.map > .info {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  min-height: 3rem;
  width: 50%;
  padding: 0 1rem;
  border-radius: 1rem 1rem 0 0;
  line-height: 3rem;
  font-size: 1rem;
  text-align: center;
  background: #fff;
  pointer-events: none;
  border: 1px solid rgb(202, 202, 202);
}

.building {
  transition: opacity 0.3s ease-in-out;
}

.building:hover {
  cursor: pointer;
  opacity: 0.8 !important;
}

.building.available {
  fill: #0f0 !important;
}

.building.reserved {
  fill: #f00 !important;
}

.building.service {
  fill: #00aaff !important;
}
